<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Here at Moebica you can learn to program at your own pace, choosing your own path to learn.
  You can learn from others, teach others what you are learning or already know, or practice
  and study on your own. You decide what you want to do, and we'll provide the tools and keep
  track of your progress as you master the art of programming.
</p>
