<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This page will contain FAQs, site directions, and a way to ask questions.
  Language help is available on any page that has a programming editor.
</p>
